* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-color: white;
  position: relative;
}

main {
  width: 80%;
  margin: 0 auto;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 5em 0 10em 0;
  position: relative;
}

#container-cart {
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 6em;
  width: 80%;
  position: relative;
}

h1#titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.cart-item {
  width: 25%;
  height: 450px;
  border: 5px solid black;
  border-radius: 20px;
  position: relative;
  transition: all 300ms;
}

.cart-item:hover {
  scale: 1.05;
}

.cart-item img {
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.cart-item h3 {
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.cart-item h4 {
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.eliminar-producto {
  width: 60%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  border: none;
  background: black;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: all 300ms;
}

.eliminar-producto:hover {
  background: darkgray;
}

#monto {
  position: relative;
  padding: 20px;
  background: black;
  border-radius: 10px;
  margin-top: 20px;
}

#monto h2 {
  margin-bottom: 10px;
  color: white;
}

#monto button {
  text-decoration: none;
  position: absolute;
  top: 20px;
  padding: 10px;
  left: 40px;
  background: white;
  color: black;
  font-weight: bolder;
  border-radius: 10px;
  transition: all 300ms;
  text-align: center;
  cursor: pointer;
}

#monto button:hover {
  scale: 1.05;
  text-decoration: underline;
}

@media screen and (max-width: 37.5em) {
  main {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .cart-item {
    width: 100%;
  }

  #monto {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
  }

  #monto button {
    display: inline-block;
    margin-top: 40px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 48em) {
  .cart-item {
    width: 20%;
  }

  #monto {
    height: 100px;
  }

  #monto button {
    width: 90%;
    display: inline-block;
    margin-top: 30px;
    margin-left: -15px;
  }
}

@media screen and (max-width: 64em) {
  .cart-item {
    width: 60%;
  }

  #monto {
    width: 50%;
    height: 150px;
  }

  #monto button {
    margin-top: 75px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 64em) {
  .cart-item {
    width: 25%;
  }

  #monto {
    width: 20%;
    height: 180px;
  }
  #monto button {
    width: 90%;
    display: inline-block;
    margin-top: 80px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 120em) {
  .cart-item {
    width: 25%;
  }

  #monto {
    width: 20%;
  }

  #monto button {
    left: 15%;
    margin-top: 110px;
    width: auto;
  }
}

.popUpFinalizarCompra {
  position: absolute;
  width: 500px;
  height: 300px;
  background-color: #b2b2b2;
  top: 5em;
  right: 35%;
  border: 1px solid black;
  border-radius: 15px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mostrarPopup {
  display: flex;
}
.popUpFinalizarCompra p {
  color: black;
  font-size: 2em;
  font-weight: 600;
}

@media (max-width: 1300px) {
  .popUpFinalizarCompra {
    right: 20%;
  }
}
@media (max-width: 900px) {
  .popUpFinalizarCompra {
    right: 15%;
  }
}
@media (max-width: 700px) {
  .popUpFinalizarCompra {
    right: 25%;
    width: 300px;
  }
  .popUpFinalizarCompra p {
    font-size: 1.5em;
  }
}
@media (max-width: 500px) {
  .popUpFinalizarCompra {
    right: 20%;
    width: 300px;
  }
}
@media (max-width: 500px) {
  .popUpFinalizarCompra {
    right: 13%;
    width: 300px;
  }
}
