.container-card .card__catalog {
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.container-card .card__catalog:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container-card .card__catalog:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.container-card .card__catalog:after {
  content: "Nike";
  position: absolute;
  top: 30%;
  left: -10%;
  font-size: 11.25em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 25, 0.05);
}

.container-card .card__catalog .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 11;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container-card .card__catalog:hover .imgBx {
  top: 0%;
  transform: translateY(0%);
}

.container-card .card__catalog .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 250px;
}

.container-card .card__catalog .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 0.5s;
  z-index: 10;
}

.container-card .card__catalog:hover .contentBx {
  height: 210px;
}

.container-card .card__catalog .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
  font-size: 1.25em;
  margin-bottom: 0.9375em;
}

.container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container-card .card__catalog:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container-card .card__catalog .contentBx .card__purchase {
  margin: auto;
  margin-top: 1.25em;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateY(50px);
  transition: 0.5s;
  opacity: 0;
}
.container-card .card__catalog:hover .contentBx .card__purchase {
  transform: translateY(0px);
  opacity: 1;
}
.card__price {
  font-size: 1.875em;
  font-weight: 600;
  color: white;
}
.card__purchase button {
  background: #fff;
  border-radius: 45px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  font-size: 1em;
  padding: 1.125em;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.6s;
}
.card__purchase button:hover {
  background-color: black;
  color: white;
}
.card__purchase a:hover {
  color: white;
  background: #d90429;
}
.card__purchase {
  position: absolute;
  z-index: 11;
  margin: auto;
  margin-top: 1.25em;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateY(50px);
  transition: 0.5s;
  opacity: 0;
  bottom: 0;
}

.card__catalog:hover .card__purchase {
  transform: translateY(-40px);
  opacity: 1;
}
